$pimary-bg: #FFFFFF; 
// $secondery-bg: #F6F7F9;
$secondery-bg: #edeef3;
$black: #000;
$secondery-black: #1A1A1A;
$gray:#4A4A54;
$light-gray: #ddd;
$purple : #4B49AC;
$light-purple:#7978e9;
$light-blue: #98BDFF;


.add_user_btn{

    display: flex;
    justify-content: end;
    margin-bottom: 10px;

    
.primary_btn{
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    background: $purple;
    color: $pimary-bg;
    font-weight: 500;
    font-size: 15px;

    &:hover{
        background-color: $light-purple;
        transition: 0.5s;
    }
}

}

.form-label{
    margin-top: .5rem !important;
    margin-bottom: .2rem !important;
}
