@import "./user";

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

// ---variables

// --colors

// $pimary-bg: #FFFFFF;
// $secondery-bg: #edeef3;
// $black: #000;
// $secondery-black: #1A1A1A;
// $gray:#4A4A54;
// $light-gray: #ddd;

$pimary-bg: #edeef3;
$secondery-bg: #ffff;
$black: #000;
$secondery-black: #1a1a1a;
$gray: #4a4a54;
$light-gray: #ddd;
$white: #ffff;

$purple: #4b49ac;

// --shadow

$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);

body {
    background-color: $secondery-bg;
}

p {
    margin: 0 !important;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $secondery-bg;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 32px;

    .admin_name {
        color: $black;
        font-size: 18px;
        font-weight: 600;
        padding-left: 32px;
    }

    .admin_email {
        font-size: 14px;
        padding-left: 32px;
    }

    hr {
        margin: 25px 15px 0 15px !important;
    }

    .sideBar_link {
        margin: 25px 10px 0 10px;
        padding-bottom: 10px;
        padding: 0 0 10px 0;

        a {
            display: block;
            padding: 8px 8px 8px 32px;
            font-size: 18px;
            text-decoration: none;
            color: $gray;
            font-weight: 500;

            &:hover {
                color: $white;
                transition: 0.5s;
                background-color: $purple;
                box-shadow: $box-shadow-sm;
                border-radius: 5px;
            }

            i {
                padding-right: 10px;
            }
        }
    }
}

.active-link {
    color: $black;
    background-color: $pimary-bg;
    box-shadow: $box-shadow-sm;
    border-radius: 5px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: $pimary-bg;
    color: $secondery-black;
    // padding: 10px 15px;
    border: none;
    margin: 0 0 0 10px;
    // margin-left: 250px;

    // &:hover {
    //   background-color: #444;
    // }
}

#main {
    transition: margin-left 0.5s;
    padding: 0;
    margin-left: 250px;
    margin-top: 10px;
    // border-top: 2px solid $light-gray;
    // border-left: 2px solid $light-gray;
    border-radius: 15px 0 0 0;
}

#content {
    transition: margin-left 0.5s;
    padding: 0;
    margin-left: 250px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

//   -- main content--

.main_container {
    padding: 0 !important;
    box-shadow: $box-shadow-sm;
}

.dashboard_container {
    padding: 12px 12px 12px 12px;
    height: 100%;
    overflow-y: hidden;
    // border-left: 2px solid $light-gray;
    height: 100vh;
    overflow: hidden;
    background-color: $pimary-bg;
}

// ---Top bar

.topBar_bg {
    background-color: $secondery-bg;
}

.top_bar {
    background-color: $pimary-bg;

    hr {
        margin: 0 0 0 0 !important;
    }

    .toggleNav {
        display: flex;
        align-items: center;
    }

    .top_bar_content {
        display: flex;
        padding: 14px 0;
        // padding-bottom: 10px;
    }

    .greeting_msg {
        color: $black;
        font-size: 22px;
        font-weight: 500;
    }

    .currentdate {
        font-size: 16px;
        font-weight: 400;
    }
}

@media screen and (max-width: 991px) {
    .top_bar_content {
        padding-left: 10px;

        .greeting_msg {
            padding: 0 10px 0 10px;
        }

        .currentdate {
            padding: 0 10px 0 10px;
        }
    }
}
